//- iconos de ayuda y audio
.auxiliares
   span.auxiliares__icon.icon-info
   span.auxiliares__icon.icon-audio
      
.auxiliares.auxiliares--negativo
   span.auxiliares__icon.icon-info
   span.auxiliares__icon.icon-audio
