doctype html
head
	meta(charset='utf-8')
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width' )
	title vidaTres - step
	include templates/head
body
	h1 vida tres inicial
	include templates/footer

	
	
