doctype html
head
	meta(charset='utf-8')
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width' )
	title vidaTres - step
	include templates/head
body
	section.plan-cliente
		.container
			.row
				.col-xs-1
					figure.logotipo
						img(src="./img/logotipo-vidatres.png", alt="")
				.col-xs-8
					.step
						.step__linea
						.step__paso
							span.step__numero 1
						.step__paso.step__paso--active
							span.step__numero 2
						.step__paso
							span.step__numero 3
						.step__paso
							span.step__numero 4
				.col-xs-8
					.titulo
						span.titulo__icon.icon-avion
						h2.titulo__name paso 2
							span.titulo__descripcion selecciona clinicas y coberturas
			
	include templates/footer

	
	
