doctype html
head
	meta(charset='utf-8')
	meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width' )
	title vidaTres - step
	include templates/head
body
	section.plan-cliente
		.container
			.row
				.col-xs-1
					figure.logotipo
						img(src="./img/logotipo-vidatres.png", alt="")
				.col-xs-7
					.step
						.step__linea
						.step__paso
							span.step__numero 1
						.step__paso.step__paso--active
							span.step__numero 2
						.step__paso
							span.step__numero 3
						.step__paso
							span.step__numero 4
				.col-xs-8
					.titulo
						span.titulo__icon.icon-avion
						h2.titulo__name paso 2
							span.titulo__descripcion selecciona clinicas y coberturas

						.auxiliares
							span.auxiliares__icon.icon-info
							span.auxiliares__icon.icon-audio
			.row
				.col-xs-4
					article.red
						.red__container
							.red__header
								h3.red__titulo RED Clásica
							.red__body
								figure.red__clinica
									img(src="./img/clinica-davila.jpg", alt="Logotipo clinica")
								figure.red__clinica
									img(src="./img/logo_clinica_vespucio.jpg", alt="Logotipo clinica")
								figure.red__clinica
									img(src="./img/Clinica Bcentenario.jpg", alt="Logotipo clinica")
							.red__footer
								.row
									.col-xs-5.col-xs-offset-1
										figure.red__clinica.red__clinica--vi
											img(src="./img/vidaintegra1.png", alt="Logotipo clinica")
									.col-xs-5
										figure.red__clinica
											img(src="./img/integramedica.png", alt="Logotipo clinica")
				.col-xs-4
					article.red.red--active
						.red__container
							.red__header
								h3.red__titulo RED Plus
							.red__body
								figure.red__clinica
									img(src="./img/Clinica Indisa.jpg", alt="Logotipo clinica")
								figure.red__clinica
									img(src="./img/Marca-UCCHRISTUS-01.jpg", alt="Logotipo clinica")
								figure.red__clinica
									img(src="./img/clinicatabancura.jpg", alt="Logotipo clinica")
							.red__footer
								.row
									.col-xs-5.col-xs-offset-1
										figure.red__clinica.red__clinica--vi
											img(src="./img/vidaintegra1.png", alt="Logotipo clinica")
									.col-xs-5
										figure.red__clinica
											img(src="./img/integramedica.png", alt="Logotipo clinica")
				.clearfix
				.col-xs-4
					article.red
						.red__container
							.red__header
								h3.red__titulo RED Premium
							.red__body
								figure.red__clinica
									img(src="./img/u-los-andes.jpg", alt="Logotipo clinica")
								figure.red__clinica
									img(src="./img/clinica uc.jpg", alt="Logotipo clinica")
								figure.red__clinica
									img(src="./img/Clinica Santa Maria.jpg", alt="Logotipo clinica")
							.red__footer
								.row
									.col-xs-5.col-xs-offset-6
										figure.red__clinica
											img(src="./img/integramedica.png", alt="Logotipo clinica")
				.col-xs-4
					article.red
						.red__container
							.red__header
								h3.red__titulo RED Pro
							.red__body
								figure.red__clinica
									img(src="./img/logo-clinica-alemana-jpg.jpg", alt="Logotipo clinica")
								figure.red__clinica
									img(src="./img/Clinica Santa Maria.jpg", alt="Logotipo clinica")
							.red__footer
								.row
									.col-xs-5.col-xs-offset-6
										figure.red__clinica
											img(src="./img/integramedica.png", alt="Logotipo clinica")

		//- Esta es la vista de usuario que esta fija en toda la navegación										
		.plan
			.plan__header
				.plan__info
					p.plan__nombre-plan Mi Plan C-01
					p.plan__cliente Camila 
						span Aravena
					p.plan__saldo $1.250.000
					p.plan__locacion Región Metropolitana
					p.plan__edad 45 años
				.plan__action
					span.plan__edit.icon-edit
					.plan__beneficiarios
						span.plan__beneficiarios-icon.icon-hombre
						span.plan__beneficiarios-icon.icon-mujer
						a.plan__beneficiarios-link(href="javascript:;") 5 Beneficiarios

			.plan__body
				.plan__prestadores
					p.plan__prestadores-titulo Prestadores
					.plan__add
						p.plan__red Red Premium
						p.plan__red Red Plus
					span.plan__close.icon-cerrar

				.plan__cobertura
					.plan__chart
						p.plan__chart-titulo Cobertura
							span ambulatoria
						.plan__chart-detalle
							// aqui va el gráfico
						span.plan__close.icon-cerrar
					.plan__chart
						p.plan__chart-titulo Cobertura
							span hospilataria
						.plan__chart-detalle
							// aqui va el gráfico
						span.plan__close.icon-cerrar

				.plan__productos
					.plan__seguro
						p.plan__productos-titulo Seguro copago
						span.plan__uf 30 uf
						span.plan__close.icon-cerrar
					.plan__adicionales
						p.plan__productos-titulo Productos adicionales
						.plan__adicionales-productos
							.plan__icon.icon-asistencia
							.plan__icon.icon-dental
							.plan__icon.icon-farmacia
						span.plan__edit-productos.icon-edit

				ul.plan__valores
					li.plan__valores-item
						p.plan__valor-nombre
							span.icon-Combined-Shape
							| Valor Plan
						p.plan__monto
							| 3,5 uf/ mes
							span.icon-info
					li.plan__valores-item
						p.plan__valor-nombre
							span.icon-Combined-Shape
							| Valor Copago
						p.plan__monto
							| 0,5 uf/ mes
							span.icon-info
					li.plan__valores-item
						p.plan__valor-nombre
							span.icon-Combined-Shape
							| Valor Ges
						p.plan__monto
							| 0,3 uf/ mes
							span.icon-info
					li.plan__valores-item
						p.plan__valor-nombre
							span.icon-Combined-Shape
							| Valor Productos adicionales
						p.plan__monto
							| 0,0 uf/ mes
							span.icon-info

			.plan__footer
				p.plan__total-titulo Valor total
				p.plan__total-saldo $160.000
					span 5 UF/mes

				.bar.bar--active
					.bar__progreso
						p.bar__progreso-info $130.000 - 4,5 uf
						p.bar__progreso-info $30.000 - 0,5 uf
					.bar__info
						p.bar__titulo Tu 7%
						p.bar__titulo Adicional

				span.plan__help.icon-audio
			a.plan__link(href="javascript:;") ver mi plan

	section.seleccion-cobertura
		.container
			.row
				.col-xs-4
					article.cobertura
						.cobertura__header
							p.cobertura__titulo Cobertura ambulatoria y urgencia
							.auxiliares.auxiliares--negativo
								span.auxiliares__icon.icon-info
								span.auxiliares__icon.icon-audio
						.cobertura__chart
							.cobertura__detalle
								span grafico
								// grafico
							.cobertura__opciones
								span.cobertura__opciones-item.cobertura__opciones-item--active 50%
								span.cobertura__opciones-item 70%
								br
								span.cobertura__opciones-item 60%
								span.cobertura__opciones-item 80%
				.col-xs-4
					article.cobertura
						.cobertura__header
							p.cobertura__titulo Cobertura ambulatoria y urgencia
							.auxiliares.auxiliares--negativo
								span.auxiliares__icon.icon-info
								span.auxiliares__icon.icon-audio
						.cobertura__chart
							.cobertura__detalle
								span grafico
								// grafico
							.cobertura__opciones
								span.cobertura__opciones-item 50%
								span.cobertura__opciones-item 70%
								span.cobertura__opciones-item 60%
								span.cobertura__opciones-item 80%
								span.cobertura__opciones-item 90%
								span.cobertura__opciones-item 100%

			.row
				.col-xs-8
					section.informativo
						p.informativo__titulo Dada tus coberturas seleccionadas, tu libre elección es la siguiente:
						.informativo__container
							.informativo__cobertura
								p.informativo__cobertura-titulo Libre elección
								p.informativo__item Cobertura ambulatoria y urgencia
									span.informativo__porcentaje 50%
								p.informativo__item Cobertura hospitalaria
									span.informativo__porcentaje 50%
								.auxiliares
									span.auxiliares__icon.icon-info
							.informativo__tope
								p.informativo__tope-titulo Tope anual plan 
									span 4.500 uf
								.auxiliares
									span.auxiliares__icon.icon-info
	section.copago-maximo
		.container
			.row
				.col-xs-8
					figure.banner
						img.banner__img(src="./img/banner.jpg", alt="imagen de profesionales")
					.copago
						.copago__header
							p.copago__titulo ¿Quieres seleccionar un seguro de copago máximo hospitalario en tus redes?
							.auxiliares
								span.auxiliares__icon.icon-info
								span.auxiliares__icon.icon-audio
								
						.copago__accion
							.copago__check
								.checkbox
									input#si(type='checkbox', name='si', value='')
									label(for='si')
										span
										| Si
								.checkbox
									input#no(type='checkbox', name='no', value='')
									label(for='no')
										span
										| No
										
						.copago__opciones
							a.copago__opciones-item(href="javascript:;" ) 30 uf
							a.copago__opciones-item.copago__opciones-item--active(href="javascript:;" ) 40 uf
							a.copago__opciones-item(href="javascript:;" ) 50 uf
							a.copago__opciones-item(href="javascript:;" ) 75 uf
							
						.copago__info
							p.copago__alert tope anual copago máximo hospitalario 6.500 uf
							.auxiliares
								span.auxiliares__icon.icon-info
	section.buscador
		.container
			.row
				.col-xs-8
					.titulo
						span.titulo__descripcion ¿CUÁNTO PAGO POR PRESTACIÓN?
						.auxiliares
							span.auxiliares__icon.icon-info
							span.auxiliares__icon.icon-audio
				.col-xs-8
					.filtro
						.checkbox
							input#ambulatoria(type='checkbox', name='si', value='')
							label(for='ambulatoria')
								span
								| Ambulatoria y urgencia
						.checkbox
							input#hospitalaria(type='checkbox', name='no', value='')
							label(for='hospitalaria')
								span
								| Hospitalaria
					.buscador__campo
						span.buscador__icon.icon-lupa
						input(type="text", name="", placeholder="Buscar prestaciones")
							
				.col-xs-8
					.buscador__titulos
						.buscador__titulo
							span.buscador__titulo-icon.icon-info
							span.buscador__titulo-nombre Nombre clinica
						.buscador__titulo
							span.buscador__titulo-icon.icon-info
							span.buscador__titulo-nombre Valor Clinica
						.buscador__titulo
							span.buscador__titulo-icon.icon-info
							span.buscador__titulo-nombre Bonificación plan
						.buscador__titulo
							span.buscador__titulo-icon.icon-info
							span.buscador__titulo-nombre Bonificación copago
						.buscador__titulo
							span.buscador__titulo-icon.icon-info
							span.buscador__titulo-nombre Valor a pagar final
						
					ul.resultado
						li.resultado__item
							p.resultado__nombre San Carlos de Apoquindo
							p.resultado__valor $60.000.000
							p.resultado__bonificacion $54.000.000
							p.resultado__bonificacion-copago $4.800.000
							span.resultado__icon.icon-Combined-Shape
							p.resultado__final $1.500.000
						li.resultado__item
							p.resultado__nombre San Carlos de Apoquindo
							p.resultado__valor $60.000.000
							p.resultado__bonificacion $54.000.000
							p.resultado__bonificacion-copago $4.800.000
							span.resultado__icon.icon-Combined-Shape
							p.resultado__final $1.500.000
						li.resultado__item
							p.resultado__nombre San Carlos de Apoquindo
							p.resultado__valor $60.000.000
							p.resultado__bonificacion $54.000.000
							p.resultado__bonificacion-copago $4.800.000
							span.resultado__icon.icon-Combined-Shape
							p.resultado__final $1.500.000
						li.resultado__item
							p.resultado__nombre San Carlos de Apoquindo
							p.resultado__valor $60.000.000
							p.resultado__bonificacion $54.000.000
							p.resultado__bonificacion-copago $4.800.000
							span.resultado__icon.icon-Combined-Shape
							p.resultado__final $1.500.000
						li.resultado__item
							p.resultado__nombre San Carlos de Apoquindo
							p.resultado__valor $60.000.000
							p.resultado__bonificacion $54.000.000
							p.resultado__bonificacion-copago $4.800.000
							span.resultado__icon.icon-Combined-Shape
							p.resultado__final $1.500.000
							
					

	include templates/footer
